# Dependencias
/node_modules

# Archivos de configuración
.env

# Archivos de registro
logs
*.log

# Archivos de respaldo
*.bak
*.backup

# Archivos de compilación
/dist

# Archivos de sistema
.DS_Store
Thumbs.db